<section class="container">
    <app-navbar></app-navbar>
    
    <!-- <h2><i class="fas fa-user-friends"></i>Friends</h2> -->
    <div class="friends flex-col">
        <a href="">
            <i class="fas fa-user-friends"></i>
            <strong>Friends</strong>
        </a>
        <div class="grow">
            <div *ngIf="friends == null">
                You haven't added any friends
            </div>
            <ng-container *ngIf="friends">
                <div class="friends-list-items flex-col">
                    <ul>
                        <li *ngFor="let friend of friends">{{ friend.userName }}</li>
                    </ul>
                </div>
            </ng-container>
        </div>
        <button (click)="addFriend()">Add Freind</button>
    </div>
</section>
