section {
    color: #fff;
    margin-top: 10px;
    width: 100%;
}

.links {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.links:hover {
    cursor: pointer;
}

.nav-content {
    width: 100%;
}

.btn {
    margin: 0px 10px;
}

.profile-img {
    border-radius: 50%;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    height: 100%;
}

.user-info p {
    margin: 0px;
    padding: 0px;
}

.fa-chevron-down, .fa-chevron-up {
    margin-left: 10px;
    font-size: 18px;
}

.drop-down {
    padding: .5em 1.5em;
}

.drop-down p {
    width: 175px;
}

.drop-down p:hover {
    cursor: pointer;
    color: #1DA1F2;
}

hr {
    border: 1px solid #fff;
    background-color: #fff;
}

@media only screen and (min-width: 768px) {
    .small {
        display: none;
    }
}
