<section class="flex-col ali-center just-center">
    <h1>
        <i class="far fa-comments"></i>
        New Social App
    </h1>
    <div class="signin-container flex-row just-center ali-center">
        <div class="form-container flex-col ali-center just-center">
            <div class="form">
                <p>Share your photo's and keep in touch with your family. Engage in real conversations with relatives from all over.
                    New Social App is focused on family and keeping the family unit close.
                </p>
                <button class="btn" (click)="signIn()">Sign In With Google</button>
            </div>
        </div>
        <div class="side-container flex-col just-center ali-center">
            <!-- <h1>SOCIAL CLONE</h1>
            <h3>Sign in to experience an experience you've had before!</h3> -->
            <img src="../../assets/Images/social_image.png" alt="image of friends">
        </div>
    </div>
</section>