<section class="flex-col ali-center just-center">
    <h1>
        <!-- <i class="far fa-comments"></i> -->
        <i class="far fa-images"></i>
        Family Memories
    </h1>
    <div class="signin-container flex-row just-center ali-center">
        <div class="form-container flex-col ali-center just-center">
            <div class="form">
                <p>One place to keep all your family's memories.</p>
                <ul>
                    <li>Create a family</li>
                    <li>Add family members</li>
                    <li>Upload pictures and videos</li>
                    <li>Chat and plan with family members</li>
                </ul>
                <button class="btn" (click)="signIn()">Sign In With Google</button>
            </div>
        </div>
        <div class="side-container flex-col just-center ali-center">
            <!-- <h1>SOCIAL CLONE</h1>
            <h3>Sign in to experience an experience you've had before!</h3> -->
            <img src="../../assets/Images/social_image.png" alt="image of friends">
        </div>
    </div>
</section>