/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    padding: 0px;
    background-color: #14171af3;

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.main-container {
    padding: 1em;
}

button {
    outline: none;
}

.btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    height: 40px;
}

.btn:hover {
    cursor: pointer;
}

.just-center {
    justify-content: center;
}

.ali-center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.evenly {
    justify-content: space-evenly;
}

.px {
    padding: 0px 10px;
}