<div class="container">
    <div class="heading">
        <h1>Social Clone</h1>
    </div>
    <section>
        <div class="left">
            <app-friends></app-friends>
        </div>
        <div class="middle">
            <app-posts></app-posts>
        </div>
        <div class="bottom-nav">
            <app-navbar></app-navbar>
        </div>
        <!-- <div class="right">
            <div class="inner">
                <div class="fixed-div">
                    <app-messages></app-messages>
                </div>
            </div>
        </div> -->
    </section>
</div>
