<section>
    <div class="nav-container">
        <app-navbar></app-navbar>
    </div>
    <!-- <button (click)="goBack()">Back</button> -->
    <div class="main-container flex-col just-center ali-center">
        <div class="user-container flex-col just-center ali-center" *ngIf="userDetails">
            <div class="profile-img">
                <img src="{{ userDetails.photoUrl }}" alt="profile image">
            </div>
            <span>{{ userDetails.userName }}</span>
            <small>{{ userDetails.email }}</small>        
        </div>
        <div class="two-col flex-row">
            <div class="friends-container">
                <div *ngIf="friends.length > 0">
                    <ng-container *ngFor="let friend of friends">
                        {{ friend }}
                    </ng-container>
                </div>
                <div *ngIf="friends.length == 0">
                    No friends to display
                </div>
            </div>
            <div class="posts-container">
                No Posts to display
            </div>
        </div>
    </div>
    
</section>